// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 1000px
	margin 0 auto
	padding: 0 15px
	@media (max-width: 1200px) 
		padding 0 10px




// футер к низу

body 
	display flex
	flex-direction column


.main 
	flex 1

.list 
	margin 0
	padding 0
	list-style none

.text_yellow
	color: $yellow
.text_uppercase
	text-transform: uppercase
.text_blue
	color: $blue
.bg_grey
	background: $grey
.bg_blue {
	background: $blue;
  color: #fff;
}