// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 1000px
	margin 0 auto
	padding: 0 15px

// футер к низу

body 
	display flex
	flex-direction column

.main 
	flex 1

.list 
	margin 0
	padding 0
	list-style none

.text_yellow
	color: $yellow
.text_uppercase
	text-transform: uppercase
.text_blue
	color: $blue
.bg_grey
	background: $grey
.bg_blue {
	background: $blue;
  color: #fff;
}
.image-fit img {
	width: 100%;
	height: 100%;
	object-fit: contain	
}
.desk_hidden {
	display none
}
@media (max-width:$m) {
	.desk_hidden {
		display:block
		}
	.mobile_hidden {
		display:none}	
}