// ЦВЕТА
    $yellow = #DDEA38
    $blue = #0D72BA
    $grey = #EBF0F4

// РАЗМЕРЫ
    $s = 480px
    $m = 767px
    $l = 1023px

// ШРИФТЫ
    $Inter = 'Inter', sans-serif

    $transition = .2s all ease;