section.hero-sec
  .container 
    .hero__background 
    .hero-content
      h1.hero__title ХИРУРГИЯ КАТАРАКТЫ
      span.hero__subtitle С американским хрусталиком
      .hero__note.text_blue.text_uppercase Бесплатно<br>без очереди
      .hero__note 
        span.text_uppercase По полису омс
        span для жителей всех регионов России
        p при наличии направления по форме 057/у-04
      form.hero__contact-us 
        .contact-us__text 
          h3.contact-us__title Оставьте заявку и узнайте о возможности <span class="text_yellow">бесплатного</span> лечения
          .contanct-us__note.mobile_hidden Нажимая на кнопку “Получить консультацию” вы соглашаетесь на обработку персональных данных
        ul.list.contact-us__labels 
          li.contact-us__label 
            input.contact-us__field(type="text" placeholder="ФИО")
          li.contact-us__label 
            input.contact-us__field(type="text" placeholder="Телефон" data-tel-input)
        button.contact-us__btn(type="submit") Получить консультацию
        .contanct-us__note.desk_hidden Нажимая на кнопку “Получить консультацию” вы соглашаетесь на обработку персональных данных
section.cataract-sec.bg_grey
  .container
    .cataract-wrp 
      .cataract__types
        .cataract__type
          h4.type__name Прозрачный хрусталик
          figure.type__pic 
            img(src="./app/img/content/transparent-lens.png", alt="Прозрачный хрусталик")
        .cataract__type
          h4.type__name Мутный хрусталик
          figure.type__pic 
            img(src="./app/img/content/turbid-lens.png", alt="Мутный хрусталик")
      h3.cataract__title Катаракта
      .cataract__desc это частичное или полное помутнение хрусталика глаза. Хрусталик от природы прозрачный и играет роль естественной линзы, преломляющей световые лучи и пропускающей их к сетчатке.       Потерявший прозрачность хрусталик при катаракте перестаёт пропускать свети зрение ухудшается вплоть до полной потери.
      .cataract__note Катаракта встречается в любом возрасте. Но чаще всего катаракта бывает возрастная. <br>По статистике Всемирной организации здравоохранения, в 70-80% случаев катаракта развивается у людей после 70 лет. Однако возрастная катаракта может развиться и раньше, в возрасте 45 - 50 лет.
section.symptoms-sec.bg_blue
  .container
    h2.symptoms__title.sec_title Признаки и симптомы катаракты
    .symptoms-wrp
      ul.list.symptoms
        li.symptom.active-symptom
          span.sypmtom__text Затуманенное, размытое или<br> тусклое зрение
        li.symptom
          span.sypmtom__text Снижение зрения<br> в ночное время суток
        li.symptom
          span.sypmtom__text Чувствительность к<br> свету и бликам
        li.symptom
          span.sypmtom__text Потребность в более ярком<br> свете для чтения
        li.symptom
          span.sypmtom__text Побледнение цветов
      ul.sypmtoms__perfomance.list
        li.symptom__perfomance.active-symptom 
          figure.perfomance__pic 
            img(src="./app/img/content/symptoms-pic.png", alt="")
        li.symptom__perfomance 
          figure.perfomance__pic 
            img(src="./app/img/content/symptoms-pic.png", alt="")
        li.symptom__perfomance 
          figure.perfomance__pic 
            img(src="./app/img/content/symptoms-pic.png", alt="")
        li.symptom__perfomance 
          figure.perfomance__pic 
            img(src="./app/img/content/symptoms-pic.png", alt="")
        li.symptom__perfomance 
          figure.perfomance__pic 
            img(src="./app/img/content/symptoms-pic.png", alt="")
    .symptoms__note 
      .symptoms__note-circle 
      .sypmtoms__note-text 
        h2.symptoms__note-title Основная причина развития возрастной катаракты
        span.symptoms__note-desc изменение биохимического состава хрусталика, обусловленное возрастными процессами в организме. Помутнение хрусталика с точки зрения функционирования организма человека - вполне естественное явление, поэтому от катаракты никто не застрахован.
section.stages-sec.bg_grey 
  .container 
    h2.stages__title.sec_title Стадии развития катаракты
    .stages__desc.sec_desc Чаще всего катаракта развивается постепенно, а ее симптомы проявляют себя не одновременно. Специалисты выделяют несколько стадий развития данного заболевания.
    ul.list.stages
      li.stage 
        .stage__name-block
          span.stage__name Начальная катаракта
          .stage__count.text_uppercase 1 Стадия
        .stage__desc Начинается уплотнение слоёв хрусталика, помутнение на периферии, но проходит оно практически бессимптомно, либо минимальными жалобами на размытость изображения и усиление чувствительности к свету.
      li.stage 
        .stage__name-block
          span.stage__name Незрелая катаракта
          .stage__count.text_uppercase 2-3 Стадия
        .stage__desc Образовавшиеся по периферии хрусталика помутнения начинают распространяться на все слои. Усиливаются жалобы на нечеткость изображения, затуманивание зрения вдаль. В то же время, у части пациентов может появиться улучшение зрения вблизи - в связи с чем некоторые начинают читать без очков, что связано с утолщением/уплотнением хрусталика. Эта сдаия оптимальна для проведения операции.
      li.stage 
        .stage__name-block
          span.stage__name Перезрелая катаракта
          .stage__count.text_uppercase Молочная, марганиева катаракта
        .stage__desc На этой стадии может наступить резорбция (разложение) мутного хрусталика, что чревато возникновением осложнений в виде повышения внутриглазного давления и присоединением вторичной глаукомы, приводящей к необратимой слепоте.
      li.stage 
        .stage__name-block
          span.stage__name Зрелая катаракта
          .stage__count.text_uppercase 4-5 стадия полная катаракта
        .stage__desc Хрусталик становится полностью мутным, зрение значительно ухудшается, вплоть до полной слепоты, когда отсутствует предметное зрение и человек различает только свет. На этой стадии незамедлительно следует решить вопрос об операции.
      li.stage.stage_blue.desk_hidden 
        .stage__name-block
          span.stage__name Процесс <br>помутнения хрусталика необратим!
        .stage__desc 
          span Не ждите полного созревания катаркты, не теряйте зрение!
          span.text_sep 
          span Врачи рекомендуют проводить лечение катаракты, как только она начинает мешать нормальной зрительной жизни.
    .therapy__note 
      figure.therapy__note-pic
        img(src="./app/img/svg/drop.svg", alt="Капля")
      .therapy__note-text 
        h2.therapy__note-title Катаракту невозможно вылечить каплями!
        .therapy__note-desc Не стоит бездумно верить рекламе и тратить драгоценное время на поиски чудо-средства от катаракты. Это заболевание чревато опасными осложнениями, не откладывайте лечение! Обратитесь за консультацией к врачу!
section.therapy-sec.bg_blue 
  .container 
    h2.therapy__title.sec_title Лечение катаракты
    .therapy__desc.sec_desc 
      p Единственным эффективным методом лечения катаракты является микрохирургическая операция - <span class="text_yellow text_uppercase">ФАКОЭМУЛЬСИФИКАЦИЯ С ИМПЛАНТАЦИЕЙ ИНТРАОКУЛЯРНОЙ ЛИНЗЫ (ФЭК + ИОЛ).</span>
      p Суть операции заключается в замене помутневшего естественного хрусталика на прозрачную интраокулярную линзу.
  .therapy__operation
    .container
      h2.operation__title.sec_title Операция по удалению катаракты
      ul.list.operation__advantages 
        li.operation__advantage 
          span.advantage__name БЫСТРО
          span.advantage__desc операция занимает 15-20 минут
        li.operation__advantage 
          span.advantage__name БЕЗБОЛЕЗНЕННО
          span.advantage__desc применяется местная анас в виде глазных капель
        li.operation__advantage 
          span.advantage__name АМБУЛАТОРНО
          span.advantage__desc не требуется лежать в стационаре
        li.operation__advantage 
          span.advantage__name ЭФФЕКТИВНО
          span.advantage__desc зрение улучшается сразу же после операции
  .container
    .therapy__omc 
      .omc__logo 
        span ОМС
      .omc__desc Операция по удалению катаракты в офтальмологической клинике Кузляр проводится <span class="text_yellow">бесплатно и без очереди <br>по полису ОМС</span> с американской инстраокулярной линзой! 
section.steps-sec.bg_grey 
  .container 
    h2.steps__title.sec_title 4 простых шага для получения услуги по полису ОМС
    ul.steps.list 
      li.step 
        .step__num 
          span 1
        .step__desc
          p Оставьте заявку для записи на сайте или позвоните на нашу горячую линию 
        .step__links 
          a.tel_link(href="tel:+78432916060") +7 843 291-60-60
          a(href="#") Оставить заявку
      li.step 
        .step__num 
          span 2
        .step__desc
          p Сделайте анализы согласно списка
        .step__links 
          a(href="#") Скачать список
      li.step 
        .step__num 
          span 3
        .step__desc
          p Получите направление по форме 057у по месту жительства  у одного из специалистов:
          p Офтальмолога <br>Терапевта <br>Хирурга <br>ВОП
        .step__links 
          a(href="#") Скачать бланк направления
          a.bordered_link(href="#") Вам отказывают в выдаче направления формы О57/у
      li.step 
        .step__num 
          span 4
        .step__desc
          p Накануне операции пройдите прием офтальмолога с проведением необходимых исследований в нашей клинике
section.about-sec.bg_grey
  .container 
    .about-wrp 
      figure.about__pic 
        img(src="./app/img/content/doc-pic.png", alt="#")
      .about__content 
        h2.about__title.sec_title О клинике
        .about__desc В клинике представлен весь спектр самого современного оборудования для диагностики  данного заболевания, а также проходят международные клинические исследования лекарственных препаратов для лечения макулодистрофии.
        .about__doc-post Руководитель направления Абдулаева Эльмира Абдулаевна - доцент, кандидат медецинских наук
        .about__license
          .license__present 
            h4.license__title Лицензия
            .license__name ООО «КЛИНИКА КУЗЛЯР»
          ul.list.license__certificates
            li.license__certificate.image-fit
              a(href="./app/img/content/license-pic.png" data-fancybox="photo-gallery")
                img(src="./app/img/content/license-pic.png", alt="") 
            li.license__certificate.image-fit
              a(href="./app/img/content/license-pic.png" data-fancybox="photo-gallery")
                img(src="./app/img/content/license-pic.png", alt="") 
            li.license__certificate.image-fit
              a(href="./app/img/content/license-pic.png" data-fancybox="photo-gallery")
                img(src="./app/img/content/license-pic.png", alt="")
section.geo-sec.bg_grey 
  .container 
    h2.geo__title.sec_title У нас проходят бесплатное лечение по ОМС пациенты со всей России!
    figure.geo__pic.mobile_hidden 
      img(src="./app/img/content/map.png", alt="")
    ul.desk_hidden.geo__towns.list 
      li.town Москва
      li.town Санкт-Петербург
      li.town Севастополь
      li.town Орел
      li.town Тула
      li.town Ярославль
      li.town Сыктывкар
      li.town Воронеж
      li.town Нижний Новгород
      li.town Ростов-на-Дону
      li.town Казань
      li.town Пермь
      li.town Краснодар
      li.town Самара
      li.town Ижевск
      li.town Тюмень
      li.town Ессентуки
      li.town Волгоград
      li.town Уфа
      li.town Екатеринбург
      li.town Омск
      li.town Новосибирск
      li.town Красноярск
      li.town Иркутск
      li.town Хабаровск
      li.town Владивосток
section.features-sec.bg_blue 
  .container 
    h2.features__title.sec_title Нас выбирают за технологичность и высокую квалификацию
    ul.list.features 
      li.feature 
        .feature__pic 
          img(src="./app/img/svg/circle-80.svg", alt="")
        .feature__name <span class="feature_num">12+</span> <span class="text_uppercase">лет опыта</span>
        .feature__desc Кузляр - это современные технологии и офтальмологии
      li.feature 
        .feature__pic 
          img(src="./app/img/svg/circle-80.svg", alt="")
        .feature__name Наша клиника - <span class="text_uppercase">база кафедры офтальмологии кгма</span>
        .feature__desc.feature_lower Мы регулярно проводим обучающие лекции и семинары для офтальмологов со всей России, делимся уникальным опытом диагностики и лечения глаз
section.docs-sec 
  .container 
    h2.docs__title.sec_title Врачи
    .slider-wrp 
      .docs__slider.swiper.slider 
        .docs.swiper-wrapper
          .slide-default.swiper-slide
            figure.slide__pic 
              img(src="./app/img/content/doctors.png", alt="")
            .slide__info
              span.slide__name Абдурахманова Эльмира Эриковна
              .slide__about Врач-офтальмолог первой категории, ведущий офтальмохирург
              .slide__features
                .slide__feature
                  h4.slide__feature-name Стаж работы
                  span.slide__feature-desc 9 лет
          .slide-default.swiper-slide
            figure.slide__pic 
              img(src="./app/img/content/doctors.png", alt="")
            .slide__info
              span.slide__name Абдурахманова Эльмира Эриковна
              .slide__about Врач-офтальмолог первой категории, ведущий офтальмохирург
              .slide__features
                .slide__feature
                  h4.slide__feature-name Стаж работы
                  span.slide__feature-desc 9 лет
          .slide-default.swiper-slide
            figure.slide__pic 
              img(src="./app/img/content/doctors.png", alt="")
            .slide__info
              span.slide__name Абдурахманова Эльмира Эриковна
              .slide__about Врач-офтальмолог первой категории, ведущий офтальмохирург
              .slide__features
                .slide__feature
                  h4.slide__feature-name Стаж работы
                  span.slide__feature-desc 9 лет

        .swiper-button-prev.slider-arrow.arrow_left 
        .swiper-button-next.slider-arrow.arrow_right
section.equipments-sec 
  .container 
    h2.equipments__title.sec_title Оборудование
    .slider-wrp 
      .equipments__slider.swiper.slider 
        .equipments.swiper-wrapper
          .slide-default.swiper-slide
            figure.slide__pic 
              img(src="./app/img/content/equipment.png", alt="")
            .slide__info
              span.slide__name Установка офтальмологическая infiniti Vision System, ALCON (США)
              .slide__about Офтальмологическая установка является эффективным и надежным оборудованием используемым при микрохирургических операциях по удалению катаракты с возможной последующей имплантацией интраокулярной линзы (ИОЛ). Также прибор применяют при различных паталогиях переднего отдела глаза, при удалении стекловидного тела и коагуляции. На сегодняшний день данная установка пользуется огромным спросом в клиниках по всему миру и считается одним из лучших среди аналогов. 
          .slide-default.swiper-slide
            figure.slide__pic 
              img(src="./app/img/content/equipment.png", alt="")
            .slide__info
              span.slide__name Установка офтальмологическая infiniti Vision System, ALCON (США)
              .slide__about Офтальмологическая установка является эффективным и надежным оборудованием используемым при микрохирургических операциях по удалению катаракты с возможной последующей имплантацией интраокулярной линзы (ИОЛ). Также прибор применяют при различных паталогиях переднего отдела глаза, при удалении стекловидного тела и коагуляции. На сегодняшний день данная установка пользуется огромным спросом в клиниках по всему миру и считается одним из лучших среди аналогов. 
          .slide-default.swiper-slide
            figure.slide__pic 
              img(src="./app/img/content/equipment.png", alt="")
            .slide__info
              span.slide__name Установка офтальмологическая infiniti Vision System, ALCON (США)
              .slide__about Офтальмологическая установка является эффективным и надежным оборудованием используемым при микрохирургических операциях по удалению катаракты с возможной последующей имплантацией интраокулярной линзы (ИОЛ). Также прибор применяют при различных паталогиях переднего отдела глаза, при удалении стекловидного тела и коагуляции. На сегодняшний день данная установка пользуется огромным спросом в клиниках по всему миру и считается одним из лучших среди аналогов. 

        .swiper-button-prev.slider-arrow.arrow_left 
        .swiper-button-next.slider-arrow.arrow_right
section.reviews-sec.bg_grey
  .container
    h2.reviews__title.sec_title Отзывы наших пациентов
    .slider-wrp 
      .reviews__slider.swiper.slider 
        .reviews.swiper-wrapper
          .review.swiper-slide
            figure.review__pic 
              img(src="./app/img/content/review.png", alt="")
            .review__info
              span.review__text 22.11.2021г. мне сделали укол в вашей клинике “Кузляр” по полису ОМС бесплатно. Очень благодарна коллективу и доктору. Успехов вам в дальнейшей работе и здоровья.
              h4.review__name Хамидуллина Гульсария Сафиулловна
              span.review__date 23 ноября 2021
          .review.swiper-slide
            figure.review__pic 
              img(src="./app/img/content/review.png", alt="")
            .review__info
              span.review__text Установка офтальмологическая infiniti Vision System, ALCON (США)
              h4.review__name Хамидуллина Гульсария Сафиулловна
              span.review__date 23 ноября 2021
          .review.swiper-slide
            figure.review__pic 
              img(src="./app/img/content/review.png", alt="")
            .review__info
              span.review__text 22.11.2021г. мне сделали укол в вашей клинике “Кузляр” по полису ОМС бесплатно. Очень благодарна коллективу и доктору. Успехов вам в дальнейшей работе и здоровья.
              h4.review__name Хамидуллина Гульсария Сафиулловна
              span.review__date 23 ноября 2021

        .swiper-button-prev.slider-arrow.arrow_left 
        .swiper-button-next.slider-arrow.arrow_right
section.bid-sec.bg_blue 
  .container
    .bid-wrp 
      .bid__block 
        h2.bid__title.sec_title 
          span Запишитесь на операция
          span.text_sep 
          span прямо сейчас!
        form.bid__form
          label.bid__form-label 
            input.bid__form-field(type="text" placeholder="Ваше имя")
          label.bid__form-label 
            input.bid__form-field(type="text" placeholder="Ваш телефон" data-tel-input)
          button.bid__form-submit(type="submit") отправить
          .bid__form-note Нажимая на кнопку “получить консультацию”, вы соглашаетесь на обработку персональных данных
      .bid__promo 
        span Не стоит<br> откладывать лечение!
        span.text_sep 
        span.text_yellow Шанс пройти весь<br> курс лечения<br> в Ваших руках!
section.addresses-sec.bg_blue 
  .container
    ul.list.addresses
      li.address 
        ul.list.address__rows 
          li.address__row
            h2.address__row-title.text_uppercase г. Казань
            .address__row-text ул. Чистопольская 16/15 <br> ул. Аделя Кутую 44а
          li.address__row
            h2.address__row-title Телефон
            .address__row-text <a href="tel+:+78432086305">+7 (843) 208-63-05</a>
          li.address__row
            h2.address__row-title Режим работы
            .address__row-text Пн - Пт: 8:30 - -17:00 <br>Сб: 9:00 - 16:00 <br>Вс: выходной
        a.address__transit(href="#") Посмотреть карту проезда
      li.address 
        ul.list.address__rows 
          li.address__row
            h2.address__row-title.text_uppercase г. Вятские поляны
            .address__row-text Мкр. Центральный дом 5
          li.address__row
            h2.address__row-title Телефон
            .address__row-text <a href="tel+:+78333464242">+7 (833) 346-42-42</a>
          li.address__row
            h2.address__row-title Режим работы
            .address__row-text Пн - Пт: 8:30 - -17:00 <br>Сб - Вс: выходной
        a.address__transit(href="#") Посмотреть карту проезда
      li.address 
        ul.list.address__rows 
          li.address__row
            h2.address__row-title.text_uppercase г. Чистополь
            .address__row-text ул. Академика королева, 1А
          li.address__row
            h2.address__row-title Телефон
            .address__row-text <a href="tel+:+78434247580">+7 (843) 424-75-80</a>
          li.address__row
            h2.address__row-title Режим работы
            .address__row-text Пн - Пт: 8:30 - -17:00 <br>Сб - Вс: выходной
        a.address__transit(href="#") Посмотреть карту проезда
