footer.footer 
  .container 
    .footer__cols
      .footer-col 
        p ООО “Клиника Кузляр”
        p ИНН: 1660340566 <br> КПП: 166001001 <br> ОГРН: 12016000004891
        p Юридический адрес: 420073 РТ, г.Казань, <br> ул. Аделя Кутуя дом 44а пом.7 <br>
        p Директор: Жернаков Станислав Викторович
      .footer-col
        a.footer__tel(href="tel:+78432086301") +7 (843) 208-63-01 
        span Политика конфиденциальности
    .footer__note Имеютсяпротвопоказания, необходима консультация специалиста.