header.header 
  .container 
    .header-wrp 
      .header__logo 
        figure.logo 
          img(src="./app/img/svg/logo.svg", alt="Логотип")
        .logo__desc сеть офтальмологических клиник основана в 2019 году
      a.header__btn.btn(href="#") Записаться <br class="tablet_hidden">на обследование
      a.header__link.tel(href="tel:+78432086301") +7 (843) 208-63-01  
